body{
    font-family: 'Montserrat',sans-serif;
    font-size: 1.2rem;
}
.section-title{
    font-size: 3rem;
}
#main{
    background: url("background.png");
    background-size: cover;
    height: 100vh;
}
.logo{
    font-weight: 900;
    font-size: 1.9rem;
}
.nav-item{
    margin: 0 20px;
}
.header-main{
    margin-top: 20px;
}
.header{
    font-weight: 900;
    font-size: 3.5rem;
    color: #ffff;
}
.btn-space{
    margin-top: 20px;
}
.btn-outline-light{
    margin-left: 20px;
}

